<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>

</head>

<body>
    <div class="row" th:fragment="header">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Testimiskeskkond</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="firearmsTesting" sec:authorize="isAuthenticated()"><a href="/firearmsTesting"><span class="glyphicon glyphicon-screenshot"></span><span class="navbarItem">Relvaloa testid</span></a></li>
                    <li class="trafficTesting" sec:authorize="isAuthenticated()"><a href="/trafficTests"><span class="glyphicon glyphicon-road"></span><span class="navbarItem">Liiklustestid</span></a></li>
                    <li class="results" sec:authorize="isAuthenticated()"><a href="/results"><span class="glyphicon glyphicon-list-alt"></span><span class="navbarItem">Tulemused</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="logging" style="padding-top: 7px;padding-right: 10px;">

                        <span sec:authorize="isAnonymous()">
                            <form action="/signin/facebook" method="POST">
                                <input type="hidden" name="scope" value="public_profile" />
                                <button type="submit" class="btn btn-primary btn-md">Logi sisse Facebookiga</button>
                            </form>
                        </span>

                        <span sec:authorize="isAuthenticated()">
                            <a href="/logout" class="btn btn-primary btn-md">Logi välja</a>
                        </span>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</body>
</html>